.login {
    width: 400px;
}

.g-bd {
    width: 400px;
    padding-bottom: 36px;
    overflow: visible;
}

.w-exception-normal .cnt .note {
    font-size: 18px;
}

.m-cnt {
    padding: 0 30px;
    width: 340px;
}

.headimg {
    display: none;
}

.m-header {
    padding: 0;
    height: 32px;
    margin: 0;
}

.m-footer {
    display: none;
}

.fur-change-email {
    height: 22px;
    line-height: 22px;
    font-size: 0;
}

.m-cnt .m-nerror .ferrortail, .m-cnt .m-nerror .ferrortail2, .m-cnt .m-nerror .ferrortail3 {
    width: 16px !important;
    height: 16px !important;
    background: url("https://mimg.127.net/p/freemail/index/lib/img/urs/ico-error.png") no-repeat !important;
}

.u-loginbtn {
    background: #3B78DD;
    border-radius: 4px;
}

.u-loginbtn:hover {
    background: #477EFF;
}

.u-loginbtn:active {
    color: white;
    background: #2E65E6;
}

.w-exception,
.w-exception-normal {
    width: 400px;
}

.w-exception .cnt {
    width: 340px;
    padding-left: 30px;
    padding-right: 30px;
}

.w-exception-normal .cnt {
    width: 340px;
    padding-left: 30px;
    padding-right: 30px;
}

input::-webkit-input-placeholder {
    color: #DBDBDB;
}

input:-moz-placeholder {
    color: #DBDBDB;
}

/* 十天内登录 */
.m-cnt .m-unlogin .b-unlogn {
    float: left;
    border-right: none;
    width: auto;
}

.m-cnt .m-unlogin .b-unlogn label {
    font-size: 14px;
    color: #9095A2;
    line-height: 18px;
}

.m-cnt .m-nerror {
    margin-top: 8px;
}

.m-cnt .m-nerror .ferrorhead {
    margin-left: 10px;
    font-size: 12px;
    color: #CC0000;
    line-height: 18px;
    margin-top: -1px;
}

.m-cnt .u-input input {
    width: 205px !important;
    height: 46px;
    line-height: 46px;
}

.m-cnt .u-pwdtext {
    display: inherit !important;
}

.m-cnt .u-logo div {
    margin-top: 12px;
}

.m-cnt .u-logo .u-logo-img1 {
    background: url("https://mimg.127.net/p/freemail/index/lib/img/urs/ico-user.png") no-repeat; /* TODO: 使用绝对链接 */
}

.m-cnt .u-logo .u-logo-img2 {
    background: url("https://mimg.127.net/p/freemail/index/lib/img/urs/ico-password.png") no-repeat; /* TODO: 使用绝对链接 */
}

.m-cnt .u-pwdshow {
    right: 0;
}

.m-cnt .m-eye-close {
    margin-right: 44px !important;
}

.m-cnt .m-unlogin .b-unlogn .u-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #D0D0D0;
    border-radius: 2px;
}

.m-cnt .m-unlogin .b-unlogn .u-checkbox-select {
    width: 16px;
    height: 16px;
    background: url("https://mimg.127.net/p/freemail/index/lib/img/urs/ico-checked.png") no-repeat;
}

.m-cnt #login-form .m-ckcnt {
    margin-top: 22px;
}

/* 调整登录按钮 */
.loginbox {
    margin-top: 0;
    margin-bottom: 20px;
}

.loginbox .u-loginbtn {
    position: absolute;
    bottom: 0px;
    width: 340px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: none;
    /* margin-bottom: 36px; */
}

.m-cnt .m-unlogin {
    padding-bottom: 42px;
    font-size: 0;
    height: 16px;
    line-height: 16px;
}

/* 忘记密码 */
.m-cnt .m-unlogin .forgetpwd {
    float: right;
    color: #3B78DD;
    font-size: 14px;
}

/* 去注册按钮 */
.m-cnt .m-unlogin .u-regbtn {
    display: none;
}

.m-cnt .m-unlogin .u-regbtn.bgcolor {
    position: absolute;
    left: 168px;
    bottom: -38px;
    color: #3B78DD;
    font-size: 14px;
    line-height: 20px;
}

.m-cnt .m-unlogin .u-regbtn.bgcolor:hover {
    color: #477EFF !important;
}

.m-cnt .m-unlogin .u-regbtn.bgcolor:active {
    color: #2E65E6;
}

.m-cnt .inputbox {
    min-width: 340px;
    border-color: #DADADA;
    height: 46px;
}

.m-cnt .inputbox.active {
    border-color: #3B78DD;
}

/* 忘记密码样式 */
.m-cnt .m-unlogin .forgetpwd:hover {
    color: #477EFF;
}

.m-cnt .m-unlogin .forgetpwd:active {
    color: #2E65E6;
}

.m-cnt .pr-domain {
    color: #666;
    right: -80px !important;
}

/* 二次登录页面按钮样式修改 */
/* 左按钮 */
.u-btn.bgcolor {
    height: 44px;
    line-height: 44px;
    color: #3B78DD;
    border: 1px solid #a7d4bd;
    border-radius: 4px;
    background: #E6F3EC;
}

.u-btn.bgcolor:hover {
    background: #cee7da;
}

.u-btn.bgcolor:active {
    background: #daede3;
}

/* 右按钮 */
.btncolor {
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #3370FF;
}

.btncolor:hover {
    background: #477EFF
}

.btncolor:active {
    background: #2E65E6;
}

/* 二次验证 */
.m-cnt .m-pcbox .m-pc {
    min-width: auto;
    width: 206px !important;
}

.m-cnt .m-pc .pcin {
    width: 150px !important;
}

.m-cnt .pcbtn .getsmscode {
    height: 48px;
    line-height: 48px;
}

.m-cnt .m-ckcnt .inputbox {
    min-width: auto;
}

.m-cnt #login-form .m-ckcnt input.cktext {
    width: 130px !important;
}